html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
    background: url(./img/background.png);
    background-size: cover;
}

.card-wrap {
    display: inline-block;
    width: 80%;
    height: 70%;
    position: relative;
    margin: 5% 10%;
}

/* 发牌 */
.btn-start {
    z-index: 101;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
}

/* ························································· */
/* 翻转 */
.flip-container {
    width: 14.29%;
    height: 25%;
    position: absolute;
    display: inline-block;
    -webkit-perspective: 500;
    -moz-perspective: 500;
    -ms-perspective: 500;
    perspective: 500;
    -ms-transform: perspective(500px);
    -moz-transform: perspective(500px);
    /*重要*/
    transform-style: preserve-3d;
    /*重要*/
    top: 50%;
    left: 50%;
    /* padding: 20px; */
}

.on-center {
    transform: translate(-50%, -50%);
}

.flipper {
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
    width: 80%;
    height: 90%;
    margin: 10% 10% 10% 10%;
    /*重要*/
}

/* 触发翻转 */
.reverse {
    transform: rotateY(540deg);
    transition: transform 0.7s linear 0s
}

.reverse-back {
    transform: rotateY(0deg);
    transition: transform 0.7s linear 0s
}

.front,
.back {
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    /*重要*/
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

.front {
    transform: rotateY(0deg);
    z-index: 2;
    background: url(./img/card.jpg);
    background-size: 100% 100%;
}

.back {
    transform: rotateY(-180deg);
}

/*·················································*/
.display {
    display: inline-block;
}

.display-none {
    display: none;
}

.title {
    height: 7%;
}

.title img {
    position: absolute;
    left: 50%;
    width: 20%;
    transform: translate(-50%, 0%);
}

.btn-start img {
    width: 20%;
    margin: 0 40%;
}

.img1 .flipper .back {
    background: url(./img/1.jpg);
    background-size: 100% 100%;
}
.img2 .flipper .back {
    background: url(./img/2.jpg);
    background-size: 100% 100%;
}
.img3 .flipper .back {
    background: url(./img/3.jpg);
    background-size: 100% 100%;
}
.img4 .flipper .back {
    background: url(./img/4.jpg);
    background-size: 100% 100%;
}
.img5 .flipper .back {
    background: url(./img/5.jpg);
    background-size: 100% 100%;
}
.img6 .flipper .back {
    background: url(./img/6.jpg);
    background-size: 100% 100%;
}


.front div {
    width: 100%;
    height: 100%;
}





.cno1 .flipper .front div {
    background: url(./img/字/1.png);
    background-size: 100% 100%;
}
.cno2 .flipper .front div {
    background: url(./img/字/2.png);
    background-size: 100% 100%;
}
.cno3 .flipper .front div {
    background: url(./img/字/3.png);
    background-size: 100% 100%;
}
.cno4 .flipper .front div {
    background: url(./img/字/4.png);
    background-size: 100% 100%;
}
.cno5 .flipper .front div {
    background: url(./img/字/5.png);
    background-size: 100% 100%;
}
.cno6 .flipper .front div {
    background: url(./img/字/6.png);
    background-size: 100% 100%;
}
.cno7 .flipper .front div {
    background: url(./img/字/7.png);
    background-size: 100% 100%;
}
.cno8 .flipper .front div {
    background: url(./img/字/8.png);
    background-size: 100% 100%;
}
.cno9 .flipper .front div {
    background: url(./img/字/9.png);
    background-size: 100% 100%;
}
.cno10 .flipper .front div {
    background: url(./img/字/10.png);
    background-size: 100% 100%;
}
.cno11 .flipper .front div {
    background: url(./img/字/11.png);
    background-size: 100% 100%;
}
.cno12 .flipper .front div {
    background: url(./img/字/12.png);
    background-size: 100% 100%;
}
.cno13 .flipper .front div {
    background: url(./img/字/13.png);
    background-size: 100% 100%;
}
.cno14 .flipper .front div {
    background: url(./img/字/14.png);
    background-size: 100% 100%;
}

.cno15 .flipper .front div {
    background: url(./img/字/15.png);
    background-size: 100% 100%;
}
.cno16 .flipper .front div {
    background: url(./img/字/16.png);
    background-size: 100% 100%;
}
.cno17 .flipper .front div {
    background: url(./img/字/17.png);
    background-size: 100% 100%;
}
.cno18 .flipper .front div {
    background: url(./img/字/18.png);
    background-size: 100% 100%;
}
.cno19 .flipper .front div {
    background: url(./img/字/19.png);
    background-size: 100% 100%;
}
.cno20 .flipper .front div {
    background: url(./img/字/20.png);
    background-size: 100% 100%;
}
.cno21 .flipper .front div {
    background: url(./img/字/21.png);
    background-size: 100% 100%;
}

.cno22 .flipper .front div {
    background: url(./img/字/22.png);
    background-size: 100% 100%;
}
.cno23 .flipper .front div {
    background: url(./img/字/23.png);
    background-size: 100% 100%;
}
.cno24 .flipper .front div {
    background: url(./img/字/24.png);
    background-size: 100% 100%;
}
.cno25 .flipper .front div {
    background: url(./img/字/25.png);
    background-size: 100% 100%;
}
.cno26 .flipper .front div {
    background: url(./img/字/26.png);
    background-size: 100% 100%;
}
.cno27 .flipper .front div {
    background: url(./img/字/27.png);
    background-size: 100% 100%;
}
.cno28 .flipper .front div {
    background: url(./img/字/28.png);
    background-size: 100% 100%;
}


